.margin-bottom-1em{ margin-bottom: 1em;}
.width-30-percent{ width: 30%;}
.margin-1em-zero{ margin: 1em 0; }
.width-30-percent{ width: 30%;}
.width-70-percent{ width: 70%}
.margin-top-40{ margin-top: 40px}
.text-align-center{ text-align: center;}

div#blueimp-gallery div.modal{ overflow: hidden;}

.photo-thumb {
    width: 214px;
    height: 214px;
    float: left;
    border: thin solid #d1d1d1;
    margin: 0 1em 1em 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus{ z-index: 2;}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    margin-top: 40px;
    padding: 40px 0px 20px 0px;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.login-title {
    color: #555;
    font-size: 22px;
    font-weight: 400;
    display: block;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}

.select-name {
    display: block;
    margin: 30px 10px 10px;
}

.logo-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}